In [3]:
import pandas as pd

In [4]:
categories = pd.read_csv("./Data/Categories.csv", index_col="id")
categories

                           Name
id
1                          Beer
2                          Wine
3                       Spirits
4   RTDs/High-Strength Premixes
5                   Cider/Perry

In [5]:
subcategories = pd.read_csv("./Data/Subcategories.csv", index_col="id")
subcategories

    Category                         Name
id
1          1                          Ale
2          1  Weissbier/Weizen/Wheat Beer
3          1        Flavoured/Mixed Lager
4          1               Standard Lager
5          1                      Sorghum
6          1                        Stout
7          1           Non Alcoholic Beer
8          1                        Lager
9          1                    Dark Beer
10         1                Premium Lager
11         1             Mid-Priced Lager
12         1                Economy Lager
13         1                         Beer
14         2                         Wine
15         3                      Spirits
16         4  RTDs/High-Strength Premixes
17         5                  Cider/Perry

In [6]:
locations = pd.read_csv("./Data/Locations.csv", delimiter=";")
locations = locations.T.dropna(ignore_index=True)
locations

                        0                       1
0                  Region                 Country
1            Asia Pacific            Asia Pacific
2             Australasia             Australasia
3          Eastern Europe          Eastern Europe
4           Latin America           Latin America
5  Middle East and Africa  Middle East and Africa
6           North America           North America
7          Western Europe          Western Europe
8                   World                   World

In [7]:
channel_volume = pd.read_csv("./Data/Channel_Volume.csv")
channel_volume.head(10)

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
0,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2007,"Monday, 31 December 2007","2613,845506"
1,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2008,"Wednesday, 31 December 2008","2513,025824"
2,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2009,"Thursday, 31 December 2009","2421,088595"
3,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2010,"Friday, 31 December 2010","2422,128432"
4,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2011,"Saturday, 31 December 2011","2439,33622"
5,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2012,"Monday, 31 December 2012","2350,706878"
6,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2013,"Tuesday, 31 December 2013","2334,371075"
7,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2014,"Wednesday, 31 December 2014","2411,08918"
8,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2015,"Thursday, 31 December 2015","2514,830016"
9,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2016,"Saturday, 31 December 2016","2541,507631"

In [11]:
channel_volume.replace(to_replace="000 litres",value="million litres")
channel_volume['Year_date'] = pd.to_datetime(channel_volume['Year_date'])

channel_volume['Year_date'] = channel_volume['Year_date'].dt.strftime('%d-%m-%y')

C:\Users\Ava\AppData\Local\Temp\ipykernel_11280\2916624655.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  channel_volume['Year_date'] = pd.to_datetime(channel_volume['Year_date'])

In [17]:
channel_volume['Volume'] = channel_volume['Volume'].apply(lambda x: float(x.replace(',', '')))

channel_volume.head(10)

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
0,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2007,31-12-07,2.613846e+09
1,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2008,31-12-08,2.513026e+09
2,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2009,31-12-09,2.421089e+09
3,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2010,31-12-10,2.422128e+09
4,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2011,31-12-11,2.439336e+08
5,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2012,31-12-12,2.350707e+09
6,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2013,31-12-13,2.334371e+09
7,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2014,31-12-14,2.411089e+08
8,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2015,31-12-15,2.514830e+09
9,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2016,31-12-16,2.541508e+09

In [13]:
nan_count = channel_volume.isna().sum().sum()
print("Number of NaN values:", nan_count)

Number of NaN values: 4

In [9]:
company_share = pd.read_csv("./Data/Company_Share_GBO_unit.csv", delimiter=";")
company_share = company_share.dropna(ignore_index=True)
company_share

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Anheuser-Busch InBev NV,million litres,2016.0,31-12-16,4.0,"35506,37732"
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,million litres,2016.0,"Saturday, 31 Dec 2016",4.0,"18482,5958"
2,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Carlsberg A/S,million litres,2016.0,31-12-16,4.0,"11121,69868"
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Dragonyte Brewery,million litres,2016.0,31-Dec-16,4.0,"6252,38259"
4,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Tsingtao Brewery Co Ltd,million litres,2016.0,31 12 2016,4.0,"7834,494901"
...,...,...,...,...,...,...,...,...,...,...,...
21663,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Central European Distribution Corp (CEDC),000 litres,2016.0,"Saturday, 31 Dec 2016",4.0,"223,0247261"
21664,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Hubei Zhijiang Distillery Co Ltd,000 litres,2016.0,31 12 2016,4.0,"78,55588126"
21665,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31 12 2016,4.0,"3,708013795"
21666,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,"307,7663666"
21667,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-Dec-16,4.0,"8263,549123"

In [10]:
market_size = pd.read_csv("./Data/Market_Sizes.csv")
market_size

,Location,Industry,Subcategory,Hierarchy_Level,Data_Type,Unit,Current_Constant,Currency_Conversion,Year,Year_date,RSP,Volume,Year_minus_2016,Year_minus_2022,Edition
0,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,31-Dec-16,301.000,27.000,4,-2,2022
1,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,31-Dec-17,318.000,28.000,5,-1,2022
2,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,31-Dec-18,458.000,40.000,6,0,2022
3,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,31-Dec-19,612.000,51.000,7,1,2022
4,1,Alcoholic Drinks,1,3,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,31-Dec-20,774.000,62.000,8,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,31-Dec-22,6.545,1.204,10,4,2022
1217,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,31-Dec-23,6.628,1.214,11,5,2022
1218,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,31-Dec-24,6.708,1.227,12,6,2022
1219,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,31-Dec-25,6.793,1.240,13,7,2022
1220,7,Alcoholic Drinks,17,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,31-Dec-26,6.892,1.256,14,8,2022